body{
	width: 100%;
}
h1 {
	font-family: 'Oswald';
}

h2 {
	text-align: center;
	font-family: "Oswald";
	font-size: 40px;
	font-weight: lighter;
	text-decoration: none;
	color: #FFFFFF;
	margin-top: 0px;
	font-size: 100px;
}
.icons {
	display: inline-block;
	width: 100%;
	position: relative;
	text-align: center;
	margin: 25px;
	text-decoration: none;
}

#navbar {
	width: 100%;
	position: relative;
	text-align: center;
}

#navbar-center {
	display: inline-block;
	width: 300;
	padding: 20px;
}
.nav {
	margin: 25px;
	color: #FFFFFF;
	text-decoration: none;
	font-family: "Source Sans Pro";
	font-size: 18px;
	font-weight: lighter;

}

html, body {
  margin: 0;
  padding: 0;
}

.about-me-title {
	text-align: center;
	font-family: "Oswald";
	font-weight: lighter;
	text-decoration: none;
	color: #000000;
	margin-top: 0px;
	font-size: 80px;
}

.about-me.content {
	text-align: center;
	font-family: "Oswald";
	font-weight: lighter;
	text-decoration: none;
	color: #000000;
	margin-top: 0px;
	font-size: 16px;
}

.icon {
	color: white;
}

.About-me-title {
	margin: 0
}


